<mat-toolbar color="primary">
    <span class="fill-remaining-space">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item routerLink="/public" routerLinkActive="active" *ngIf="!isAuth || roles.indexOf('Customer') > -1">
          <mat-icon></mat-icon>
          <span>Public</span>
        </button>
        <button mat-menu-item routerLink="/login"  *ngIf="!isAuth">
          <mat-icon>account_circle</mat-icon>
          <span>Login</span>
        </button>
        <button mat-menu-item routerLink="/register" routerLinkActive="active" *ngIf="!isAuth">
          <mat-icon>input</mat-icon>
          <span>Register</span>
        </button>
        
        <!-- superadmin -->
        <button mat-menu-item routerLink="/employees" routerLinkActive="active" *ngIf="isAuth && (roles.indexOf('Superadmin') > -1)">
          <mat-icon>list</mat-icon>
          <span>Users list</span>
        </button>

        <!-- admin -->
        <!-- <button mat-menu-item routerLink="/employees" routerLinkActive="active" *ngIf="isAuth && (roles.indexOf('Superadmin') > -1)">
          <mat-icon>list</mat-icon>
          <span>Users list</span>
        </button> -->

        <!-- customer relations -->
        

        <!-- customer -->
        <button mat-menu-item routerLink="/orders-history" routerLinkActive="active" *ngIf="isAuth && (roles.includes('CustomerRelations')
         || roles.includes('Inspector') || roles.includes('Customer'))">
          <mat-icon>list</mat-icon>
          <span>Історія заявок</span>
        </button>
        <button mat-menu-item routerLink="/order-create" routerLinkActive="active" *ngIf="isAuth && roles.includes('Customer')">
          <mat-icon>library_add</mat-icon>
          <span>Нова заявка</span>
        </button>
        
        <button mat-menu-item routerLink="/logout" routerLinkActive="active" *ngIf="isAuth" (click)='logout()'>
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </span>
    <span class="fill-remaining-space">DiplomaAngularApp</span>
  </mat-toolbar>