<mat-card >
    <div>
        <mat-card-content>
            <h2>Інформація користувача</h2>
            <form [formGroup]="updateEmployeeForm" (ngSubmit)="updateEmployee()">
                <mat-error *ngIf="error!=''">
                  {{error}}
                </mat-error>
                <mat-form-field class="full-width-input">
                <input matInput formControlName="email"
                       type="email"
                       required
                       placeholder="Email">
                       <mat-error>
                        Please provide a valid email
                      </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="full-width-input">
                  <input matInput formControlName="Name"
                         type="text"
                         required
                         placeholder="Ім'я">
                         <mat-error>
                          Please provide a valid name
                        </mat-error>
                  </mat-form-field>
                  <br>
                  <mat-form-field class="full-width-input">
                    <input matInput formControlName="Surname"
                           type="password"
                           required
                           placeholder="Фамілія">
                           <mat-error>
                            Please confirm your surname
                          </mat-error>
                    </mat-form-field>
                    <section>
                        <mat-form-field appearance="outline">
                          <mat-label>Роль</mat-label>
                          <mat-select [formControl]="selectedFW">
                            <mat-option *ngFor="let role of employeesRoles" [value]="employee.role">
                            {{ role.name }}
                           </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </section>
                    <mat-form-field class="full-width-input">
                        <input matInput formControlName="Password"
                               type="password"
                               required
                               placeholder="Оновити пароль">
                               <mat-error>
                                Please enter password
                              </mat-error>
                        </mat-form-field>
                    <br>
                  <button mat-raised-button color="primary" type="submit"> Зберегти </button>
              </form>
        </mat-card-content>
    </div>
</mat-card>