<mat-card>
    <mat-card-title class="pageTitle">Історія заявок</mat-card-title>
    <app-order-by-list id="order-list" (onChanged)="onChanged($event)" *ngIf="orders.length > 0"></app-order-by-list>
    <button mat-raised-button class="add-button" color="primary" routerLink="/order-create"  *ngIf="roles.indexOf('Customer') > -1">Нова заявка</button>
  <mat-list>
   <mat-list-item class="list-item" *ngFor="let order of orders | sort:orderBy:listOrder">
     <form>
       <div class="title">Заявка {{order.id}}</div>
       <div class="list-item-div">
        <div class="item-details">
          <div class="item-name">Замовник</div>
          <input type="text" value="{{order.customerFirstName}} {{order.customerLastName}}" readonly/>
        </div>
        <div class="item-details">
          <div class="item-name">Статус</div>
          <input type="text" value="{{order.orderStatus}}" *ngIf="(roles.indexOf('Customer') > -1)" readonly/>
          <select *ngIf="(roles.indexOf('CustomerRelations') > -1) || (roles.indexOf('Inspector') > -1)">
            <option *ngFor="let statusOption of statusList">{{statusOption.name}}</option>
          </select>
        </div>
        <div class="item-details" *ngIf="(roles.indexOf('CustomerRelations') > -1) || (roles.indexOf('Inspector') > -1)">
          <div class="item-name">Склад</div>
          <input type="text" value="{{order.warehouseAddress}}" readonly/>
        </div>
        <div class="item-details">
          <div class="item-name">Адреса</div>
          <input type="text" value="{{order.dealAddress}}" readonly/>
        </div>
        <div class="item-details">
          <div class="item-name">Відповідальний</div>
          <input type="text" value="{{order.employeeAssignedFirstName}} {{order.employeeAssignedLastName}}" readonly/>
        </div>
      </div>
     </form>
     <div class="button-div">
        <button mat-raised-button class="item-button" color="accent" (click)="onDetailesRequested(order.id)">Деталі</button>
        <button mat-raised-button class="item-button" color="accent" (click)="onSaveChanges(order.id)">Зберегти</button>
        <button mat-raised-button class="item-button" color="primary" (click)="onDelete(order.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
   </mat-list-item>
  </mat-list>
</mat-card>