mat-list-item{
    height: auto !important;
    border: solid 1px whitesmoke;
    align-self:centre;
    background-color: cornsilk;
    border-radius: 7px;
    padding: 20px 0px 20px 0px !important;
    margin-bottom: 15px;
}

.title{
    margin: 0px 0px 10px 15px;
    font-size: 20px;
    font-weight: bold;
}

/* .list-item form{
    align-self:flex-end;
} */

.list-item form .list-item-div{
    height: 100%;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between;
}

form .item-details{
    width: calc(100% / 2 - 20 px);
    margin: 5px 15px 5px 15px;
}

.list-item-div .item-details .item-name{
    display: block;
    font-size: 14px;
}

.list-item-div .item-details input{
    height: 20px;
    width: 100%;
    outline: none;
    border-radius: 3px;
    border: 2px solid gray;
    padding-left: 5px;
}

.list-item-div .item-details select{
    height: 20px;
    width:inherit !important;
    outline: none;
    border-radius: 3px;
    border: 2px solid gray;
    padding-left: 5px;
}

#order-list{
    margin-right: 10px;
}

.item-button{
    margin: 0px 7px 10px 20px;
}

.button-div{
    align-self:flex-start;
    height: 100%;
}

.button-div button{
    width: 90px;
}