
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$diploma-angular-app-primary: mat.define-palette(mat.$light-green-palette);
$diploma-angular-app-accent: mat.define-palette(mat.$orange-palette);

// The warn palette is optional (defaults to red).
$diploma-angular-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$diploma-angular-app-theme: mat.define-light-theme((
  color: (
    primary: $diploma-angular-app-primary,
    accent: $diploma-angular-app-accent,
    warn: $diploma-angular-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($diploma-angular-app-theme);

@import "~@angular/material/theming";
@include mat-core();

 

$mat-theming-primary: mat-palette($mat-green);
$mat-theming-accent: mat-palette($mat-deep-orange);