<mat-card >
    <mat-card-title class="pageTitle">Користувачі</mat-card-title>
    <button mat-raised-button class="add-button" color="primary" routerLink="/employee-create">Створити користувача</button>
    <mat-list>
        <mat-list-item class="list-item" *ngFor="let employee of employees">
            <form>
                <div class="list-item-div">
                 <div class="item-details">
                   <div class="item-name">Ім'я</div>
                   <input type="text" value="{{employee.first_name}}"/>
                 </div>
                 <div class="item-details">
                    <div class="item-name">Фамілія</div>
                    <input type="text" value="{{employee.last_name}}"/>
                  </div>
                 <div class="item-details">
                   <div class="item-name">Електронна пошта</div>
                   <input type="text" value="{{employee.email}}" readonly/>
                 </div>
                 <div class="item-details">
                   <div class="item-name">Роль</div>
                   <select>
                    <option *ngFor="let roleOption of rolesList">{{roleOption.name}}</option>
                   </select>
                 </div>
                 <div class="item-details">
                   <mat-checkbox [disabled]="true" [checked]="employee.isDeleted">Видалено</mat-checkbox>
                 </div>
               </div>
            </form>
            <div class="button-div">
                <button mat-raised-button class="item-button" color="accent" (click)="onSaveChanges(employee.id)">Зберегти</button>
                <button mat-raised-button class="item-button" color="primary" (click)="onDelete(employee)">
                  <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-list-item>
    </mat-list>
</mat-card>