.mat-card-content{
    text-align: center;
    padding: 10px;
    /* width: 500px !important; */
    border: 1px solid whitesmoke;
    font-size: large;
    display: contents;
}
.mat-form-field{
    min-width:200px;
    width: fit-content;
    max-width: 90%;
}