<mat-card >
    <div>
      <mat-card-content>
        <h2>Registration</h2>
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <mat-error *ngIf="registerError!=''">
            {{registerError}}
          </mat-error>
          <mat-form-field class="full-width-input">
          <input matInput formControlName="email"
                 type="email"
                 required
                 placeholder="Email">
                 <mat-error>
                  Please provide a valid email
                </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field class="full-width-input">
            <input matInput formControlName="password"
                   type="password"
                   required
                   placeholder="Password">
                   <mat-error>
                    Please provide a valid password
                  </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="full-width-input">
              <input matInput formControlName="confirmPassword"
                     type="password"
                     required
                     placeholder="Password confirmation">
                     <mat-error>
                      Please confirm your password
                    </mat-error>
              </mat-form-field>
              <br>
            <button mat-raised-button color="primary" type="submit"> Register </button>
        </form>
      </mat-card-content>
    </div>
      </mat-card>
    