<mat-form-field class="drop-down-list">
    <mat-label>Сортування</mat-label>
    <mat-select [(value)]="orderBySelected" (selectionChange)="onOrderChange()">
      <mat-option value="creationDateAsc">Спочатку старіші</mat-option>
      <mat-option value="creationDateDesc">Спочатку новіші</mat-option>
    </mat-select>
  </mat-form-field>