<mat-card >
    <div>
      <mat-card-content>
        <h2> Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <mat-error *ngIf="loginError!=''">
            {{loginError}}
          </mat-error>
          <mat-form-field class="full-width-input">
          <input matInput formControlName="email"
                 type="email"
                 required
                 placeholder="Email">
                 <mat-error>
                  Please provide a valid email
                </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field class="full-width-input">
            <input matInput formControlName="password"
                   type="password"
                   required
                   placeholder="Password">
                   <mat-error>
                    Please provide a valid password
                  </mat-error>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" type="submit"> Login </button>
        </form>
      </mat-card-content>
      </div>
      </mat-card>
    